<div class="todo-item" [class.todo-item-complete]="todo.status === todoStatuses.Complete" *ngFor="let todo of todos">
  <span>
    <app-todo-priority-indicator [todoPriority]="todo.priority"></app-todo-priority-indicator>
    <span class="todo-item-name">{{ todo.name }}</span>
  </span>

  <div class="todo-actions">
    <ng-container *ngIf="todo.status === todoStatuses.InProgress; else completed">
      <button mat-mini-fab color="default" aria-label="Set Complete" (click)="changeTodoStatusComplete(todo)">
        <mat-icon>done</mat-icon>
      </button>
    </ng-container>
    <ng-template #completed>
      <button mat-mini-fab color="primary" aria-label="Set In Progress" (click)="changeTodoStatusInProgress(todo)">
        <mat-icon>done</mat-icon>
      </button>
    </ng-template>

    <button mat-mini-fab color="accent" aria-label="Edit" (click)="editTodo(todo)">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-mini-fab color="warn" aria-label="Delete" (click)="removeTodo(todo)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
<p class="todo-item" *ngIf="todos?.length === 0">{{ emptyListMessage }}</p>