
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.todo-actions button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.todo-item.todo-item-complete .todo-item-name {
  text-decoration: line-through;
}
