<div class="todo-item" *ngFor="let todo of todos">
  <span>{{ todo.name }}</span>

  <div class="todo-actions">
    <ng-container *ngIf="todo.status === statusEnum.InProgress; else completed">
      <button mat-mini-fab color="default" aria-label="Set Complete" (click)="changeTodoStatusComplete(todo)">
        <mat-icon>done</mat-icon>
      </button>
    </ng-container>
    <ng-template #completed>
      <button mat-mini-fab color="primary" aria-label="Set In Progress" (click)="changeTodoStatusInProgress(todo)">
        <mat-icon>done</mat-icon>
      </button>
    </ng-template>

    <button mat-mini-fab color="warn" aria-label="Delete" (click)="removeTodo(todo)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
<p class="todo-item" *ngIf="todos?.length === 0">{{ emptyListMessage }}</p>